em {
    font-style: normal !important;
}

html:not(.dark) pre {
    background-color: #f1f5f9 !important;
    color: #7aaac4 !important;
}

.dark em {
    color: #fff !important;
    text-shadow: 0 0 5px #fff !important;
}

.dark pre {
    background-color: rgb(31 41 55 / var(--tw-bg-opacity)) !important;
}

html:not(.dark) em {
    color: #000 !important;
    text-shadow: 0 0 2px #000 !important;
}

.viewer-result:first-child {
    display: none !important;
}
